.lang{
    .dropdown-item.active, .dropdown-item:active{
        background-color: transparent !important;
    }
    .dropdown-item:hover{
        background-color: #805e1f !important;
        color: white!important;
    }
}
.lngDrp .btn {
    font-size: 13px !important;
    background: transparent !important;
    // color: white !important;
    border: none !important;
}
.text-rayahen{
    color: #805e1f;
}