.float-right{
    float: right;
}
.float-left{
    float: left;
}
.tcktsBtn{
    color: #805e1f;
    border: 1px solid #805e1f;
}
.tcktsBtn.active{
    color: #ffffff;
    border: 1px solid #805e1f;
    background-color: #805e1f;
}
app-toast{
    z-index: 10000 !important;
    position: absolute !important;
    right: 25px !important;
    top: 95px !important;
    left: auto !important;
}