.section {
    position: relative;
    background-size: cover;
}
.logo{
    fill: white;
    filter: grayscale(100%) brightness(0) invert(1); /* تحويل اللون إلى أبيض */
    width: 120px;
}
.admin{
    text-decoration: none;
    cursor: pointer;
    color: #3C2E21;
}
.logoutbtn{
    color: #3C2E21;
    border: 1px solid #3C2E21;
    &:hover, &:active{
        color: white;
        border: 1px solid white;
        background-color: #3C2E21;
    }
}
.bg-rayahen{
    background-color:#3C2E21;
}
.nav-link{
    color: white;
}
.section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: #3c2e2127;
    z-index: 1;
}
.headerOfDash{
    padding: 10px;
    background-color: white;
}

.section > * {
    position: relative;
    z-index: 2;
}
a{
    text-decoration: none;
}
.blog-header-logo{
    color: #3C2E21;
    font-weight: 700;
    font-size: 25px;
}
.main{
    background-color: #3c2e211a;
}
.main-screen{
    height: 90vh;
    background: white;
    border-radius: 4px;
    padding: 8px;
}
nav{
    a{
        font-weight: 700;
    }
}

.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --r: .8em; 
    border-block: .5em solid #0000;
    padding-inline: calc(var(--r) + .25em) .5em;
    line-height: 1.8;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%,var(--r) calc(100% - .25em),0 50%,var(--r) .25em);
    
    width: fit-content;
    font-size: 16px;
  }
  .ribbonActive{
    background:
    radial-gradient(.2em 50% at right,#000a,#0000) border-box,
    #B8935E padding-box; /* the color  */
  }
  .ribbonDeactive{
    background:
    radial-gradient(.2em 50% at right,rgba(209, 0, 0, 0.667),#0000) border-box,
    #9e0000 padding-box; /* the color  */
  }

  .title{
    font-weight: 700;
  }

  .high{
    border-top: 5px solid red;
  }
  .medium{
    border-top: 5px solid orange;
  }
  .low{
    border-top: 5px solid yellow;
  }
//   .imgContainer{
//     position: absolute;
//     padding: 8px;
//     background-color: white;
//     top: 10px;
//   }


.imgBtn{
    background :  transparent
}
.btn.show{
    border: none;
}