.section {
    position: relative;
    background-size: cover;
    font-size: 14px;

}

.logo {
    width: 120px;
}

.admin {
    text-decoration: none;
    cursor: pointer;
    color: #3C2E21;
}

.logoutbtn {
    color: white;

    &:hover,
    &:active {
        color: white;
    }
}

.bg-rayahen {
    background-color: #3C2E21;
}


.navbar {
    z-index: 88;
}
.navbar-brand img{
    width: 120px;
    filter: brightness(5);
}
.headerOfDash {
    padding: 10px;
    background-color: white;
}

// .section>* {
//     position: relative;
//     z-index: 2;
// }

a {
    text-decoration: none;
}

.blog-header-logo {
    color: #3C2E21;
    font-weight: 700;
    font-size: 25px;
}

.main {
    background-color: #3c2e211a;
}

.main-screen {
    min-height: 90vh;
    background: white;
    border-radius: 4px;
    padding: 8px;
}

nav {
    a {
        font-weight: 700;
    }
}

.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.ribbon {
    --r: .8em;
    border-block: .5em solid #0000;
    padding: .1rem 1rem ;
    line-height: 1.8;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, var(--r) calc(100% - .25em), 0 50%, var(--r) .25em);
    width: fit-content;
    font-size: 16px;
}

.ribbonActive {
    background:
        radial-gradient(.2em 50% at right, #000a, #0000) border-box,
        #805e1f padding-box;
    /* the color  */
}

.ribbonDeactive {
    background:
        radial-gradient(.2em 50% at right, rgba(209, 0, 0, 0.667), #0000) border-box,
        #9e0000 padding-box;
    /* the color  */
}

.title {
    font-weight: 700;
}

.high {
    border-top: 5px solid red;
}

.medium {
    border-top: 5px solid orange;
}

.low {
    border-top: 5px solid yellow;
}

//   .imgContainer{
//     position: absolute;
//     padding: 8px;
//     background-color: white;
//     top: 10px;
//   }
.cardDash {
    height: 11rem;
    overflow: auto;
}

.imgBtn {
    background: transparent
}

.btn.show {
    border: none;
}


.modal-dialog {
    --bs-modal-width: 55rem;
    max-width: var(--bs-modal-width) !important;
    width: 55em;
}

.nav-item {
    height: 45px;
    padding: 8px 10px !important;
    margin-bottom: 2px;
    align-items: center;
    cursor: pointer;
    display: flex;
    align-self: center;

    .nav-link {
        color: white;
    }

}

.nav-item.active {
    border-bottom: 3px solid white;

    .nav-link {
        color: white;
    }
}
.addusrBtn span{
    color: #805e1f;
    cursor: pointer;
}

.btn.btn-primary{
    background-color: #805e1f !important;
    border: 1px solid #805e1f;
}
.modal-title{
    font-size: 16px !important;
    color: white;
}
.form-floating > label{
    font-size: 14px !important;
}

.modal-header{
    background-color: #805e1f;
    padding: .5rem;
}
.lngDrp .btn {
    font-size: 13px !important;
    background: transparent !important;
    color: white !important;
    border: none !important;
}

.cursor_pointer{
    cursor: pointer;
}

.lang{
    .dropdown-item.active, .dropdown-item:active{
        background-color: transparent !important;
    }
    .dropdown-item:hover{
        background-color: #805e1f !important;
        color: white!important;
    }
}
// .sideMenu{
//     // background: url('../../../assets/login.png');
//     // background-size: contain;
// }
.bg-rayahen{
    background-color: #805e1f;
}
.tcktsBtn{
    color: #805e1f;
    border: 1px solid #805e1f;
}
.tcktsBtn.active{
    color: #ffffff;
    border: 1px solid #805e1f;
    background-color: #805e1f;
}

app-toast{
    z-index: 10000 !important;
    position: absolute !important;
    right: 25px !important;
    top: 95px !important;
    left: auto !important;
}

.rtl{
    app-toast{
        left: 25px !important;
        right: auto !important;
    }
    
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.cursor-pointer{
    cursor: pointer;
}