<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                        <div class="col-4">
                            <a class="blog-header-logo" href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                        <div class="col-4 pt-1">
                            <nav class="nav d-flex justify-content-center">
                                <a class="p-2 text-light" href="#">Home</a>
                                <a class="p-2 text-light" href="#">Products</a>
                                <a class="p-2 text-light" href="#">About us</a>
                            </nav>
                        </div>

                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <a class="btn btn-sm btn-outline-light" href="#" (click)="logout()">Logout</a>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>

</div>