
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-rayahen" 
 [ngStyle]="{ width: !isCollapsed ? '280px' : '60px' }"
    style="min-height: 100%;height: 100vh; overflow:hidden">
    <div class="d-block text-center sideMenutop">
        <li style="height: 55px;">
            <a class="navbar-brand" >
              <img src="assets/rayahenLogo.png" alt=""  [ngStyle]="{ width: !isCollapsed ? '120px' : '50px' }">
                <!-- {{'main.nav.brand' | translate}} -->
            </a>
        </li>
    </div>
    <button class="btn  mb-3 me-auto me-2" (click)="toggleSidebar()">
      <i class="fa-solid fa-bars text-white"></i>
    </button>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto p-0">
      <li class="nav-item my-1">
        <a  class="nav-link text-white" aria-current="page" 
            [ngClass]="general.shownavElmnt == 'home' ? 'active':''" [routerLink]="['/rayahen']" routerLinkActive="router-link-active" 
            (click)="general.openNavElmnt('home')">
          <i class="fa-solid fa-house me-2"></i>
          @if(!isCollapsed){
          <span>{{'main.nav.home'| translate}}</span>
          }
        </a>
      </li>
      <li>
        <a  class="nav-link text-white my-1" 
            [ngClass]="general.shownavElmnt == 'tickets' ? 'active':''"  [routerLink]="['/tickets']" routerLinkActive="router-link-active" 
            (click)="general.openNavElmnt('tickets')">
          <i class="fa-solid fa-ticket me-2"></i>
           @if(!isCollapsed){
          <span>{{'tickets.mainLabels.tckts'| translate}}</span>
           }
        </a>
      </li>
      @if(usrData.userData.Role =='Admin'){

      <li>
        <a  class="nav-link text-white my-1" 
            [ngClass]="general.shownavElmnt == 'issues' ? 'active':''"  [routerLink]="['/issues']" routerLinkActive="router-link-active" 
            (click)="general.openNavElmnt('issues')">
          <i class="fa-solid fa-passport me-2"></i>
          @if(!isCollapsed){
          <span>
          {{'tickets.mainLabels.allissue'| translate}}
          </span>}
        </a>
      </li>
    }
    @if(usrData.userData.Role =='Admin'){

      <li>
        <a  class="nav-link text-white my-1" 
           [routerLink]="['/users']" routerLinkActive="router-link-active"
            [ngClass]="general.shownavElmnt == 'users' ? 'active':''"
            (click)="general.openNavElmnt('users')">
          <i class="fa-solid fa-user-tie me-2"></i>
           @if(!isCollapsed){
          <span>
          {{'main.nav.users'| translate}}
          </span>}
        </a>
      </li>
    }
    </ul>
    <hr>
    
  </div>