img{
    width: 120px;
}

.sideMenutop{
    li{
        list-style: none;
        a{
            color: white;
        }
    }
}

.bg-rayahen{
    background-color: #805e1f;
}
.nav-link.active{
    background-color: white;
    color: #805e1f !important;
}
.nav-link{
    height: 45px;
    font-weight: 700;
    cursor: pointer;

}
.nav-item{
    cursor: pointer;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.119);
    color: white !important;
}