.title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.title_card{
    font-size: 16px;
    font-weight: 700;
    // margin-bottom: 10px;
}
.des{
    font-weight: 600;
    font-size: 15px;
}
.date{
    text-align: end;
    font-size: 14px;
    color: #805e1f;
}
.btn{
    width: 40px;
    background: white;
    border-radius: 50px;
    color: #805e1f
}
