<div class="main-screen mt-3">

    <div class="row">
        <div class="col-12">
            <div class="d-flex my-2 justify-content-center">
                @for( tcktCount of general.ticketsStatusCount ; track tcktCount ){
                <div class="card text-center mx-3 px-0">
                    <div class="card-header bg-rayahen text-light ">
                        {{'charts.'+tcktCount.label | translate}}
                    </div>
                    <div class="card-body fw-bold fs-4">
                        {{tcktCount.count}}
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="d-flex">
        <a class="btn btn-sm btn-outline tcktsBtn  mx-1" [ngClass]="getTckts == 'all'? 'active':''"
            (click)="getTickets('all')">{{'tickets.mainLabels.alltckts'| translate}}</a>
        <a class="btn btn-sm btn-outline tcktsBtn mx-1" [ngClass]="getTckts == 'active'? 'active':''"
            (click)="getTickets('active')">{{'tickets.mainLabels.activetckts'| translate}}</a>
        <a class="btn btn-sm btn-outline tcktsBtn mx-1" [ngClass]="getTckts == 'deactive'? 'active':''"
            (click)="getTickets('deactive')">{{'tickets.mainLabels.deactivetckts'| translate}}</a>
            <span>
                <input type="text" (change)="searchTicket($event)" class="form-control form-control-sm mx-1" placeholder="{{'tickets.tcktsCrd.search'| translate}}">
            </span>
        <a class="btn btn-sm btn-outline tcktsBtn mx-1 " [ngClass]="general.dirVal =='rtl'?'me-auto':'ms-auto'"
            (click)="goToAddTicket()"><i class="fa-solid fa-plus"></i></a>

    </div>

    <div class="row my-3">
        @for(ticket of tickets; track ticket){
        <!-- <div class="col-4 col-md-4 col-lg-4 col-sm-12">
        <div class="card cardDash m-2"
            [ngClass]="ticket.priority == 1 ? 'high' : (ticket.priority == 2 ? 'medium' : 'low')">
            <span class="d-flex">
                @if(ticket.isActive){
                <div class="ribbon ms-auto ribbonActive">{{'tickets.tcktsCrd.active'| translate}}
                </div>
                }
                @if(!ticket.isActive){
                <div class="ribbon ms-auto ribbonDeactive">{{'tickets.tcktsCrd.deactive'|
                    translate}}</div>
                }
            </span>
            <div class="card-content p-2">
                <div class="d-flex">
                    <span class="title">{{'tickets.tcktsCrd.subject'| translate}} : </span>
                    <span class="des"> {{ticket.title}}</span>
                    <span class="text-primary cursor-pointer"
                        [ngClass]="general.dirVal !='rtl'?' ms-auto':' me-auto'"
                        (click)="getTicketbyId(ticket?.id)"><i class="fas fa-eye"></i></span>
                    <span class="text-warning mx-1 cursor-pointer" (click)="updTckt(ticket)"><i
                            class="fas fa-edit"></i></span>
                </div>
                <div class="d-block">
                    <div class="title">{{'tickets.tcktsCrd.tcktDes'| translate}} : </div>
                    <div class="des">{{ticket.description}}</div>
                </div>
            </div>
        </div>
    </div> -->
        }

    </div>





    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:20px"></th>
                <th style="width:40px">{{'tickets.tcktsCrd.id' | translate}}</th>
                <th style="width:100px">{{'tickets.tcktsCrd.subject'| translate}} </th>
                <th class="thDes">{{'tickets.tcktsCrd.tcktDes'| translate}} </th>
                <th style="width:100px">{{'tickets.tcktsCrd.tcktImg'| translate}}</th>
                <th style="width:100px">{{'tickets.tcktsCrd.tcktPrty' | translate}}</th>
                <th style="width:100px">{{'tickets.tcktsCrd.tcktStatus' | translate}}</th>
                <th style="width:30px"></th>
            </tr>
        </thead>
        <tbody>
            @for(ticket of tickets; track ticket){
            <tr>
                <td>
                    <span class="text-primary cursor-pointer" [ngClass]="general.dirVal !='rtl'?' ms-auto':' me-auto'"
                        (click)="getTicketbyId(ticket?.id)"><i class="fas fa-eye"></i></span>
                </td>
                <td>{{ticket.id}}</td>
                <td>{{ticket.title}}</td>
                <td class="tdDes">{{ticket.description}}</td>
                <td>
                    @if(ticket.imageUrl != null && ticket.imageUrl != ""){
                    <a [href]="ticket.imageUrl" target="_blank">
                        <i class="fa-solid fa-file"></i>
                    </a>
                    }
                </td>
                <td>
                    <span class="text-white rounded px-2" [ngClass]="ticket.priority == 1 ?'bg-danger': ticket.priority == 2 ?'bg-warning' : 'bg-primary'" style="width: fit-content;">

                    {{(ticket.priority == 1 ? 'tickets.tcktsCrd.high' : (ticket.priority == 2 ?
                    'tickets.tcktsCrd.medium' : 'tickets.tcktsCrd.low')) | translate}}
                    </span>    
                </td>
                <td>
                    <span class="text-white rounded px-2" [ngClass]="ticket.isActive ? 'bg-success':'bg-secondary'" style="width: fit-content;">
                    {{(ticket.isActive ? 'tickets.tcktsCrd.active' : 'tickets.tcktsCrd.deactive') | translate}}
                    </span>
                </td>
                <td>

                    <span class="text-warning mx-1 cursor-pointer" (click)="goToUpdTicket(ticket)"><i
                            class="fas fa-edit"></i></span>
                </td>
            </tr>
            }
            @if(tickets.length == 0){
            <tr>
                <td colspan="7" class="text-center">{{'tickets.tcktsCrd.noTckts'| translate}}</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <div class="d-flex">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" (click)="prevPage()">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for(num of pagesArray; track num){
                        <li class="page-item"><a class="page-link" (click)="getPageByNumber(num)">{{num}}</a></li>
                        }
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" (click)="nextPage()">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- <div><p>
                {{currentPage}} {{'tickets.tcktsCrd.of'| translate}} {{numberOfPages}} ({{mainTickets.length}})
            </p></div> -->
            </div>
        </tfoot>
    </table>
    
</div>
<app-toast #toastRef [message]="toastMessage" [bgColor]="toastBgColor"></app-toast>