<div class="section"  [lang]="lang" [dir]="dirVal" [ngClass]="dirVal == 'rtl'?'rtl':''">
    <div class="container">
        <div class="dropdown me-2 lngDrp">
            <a class="btn dropdown-toggle"
            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              {{lang}}
            </a>
            <ul class="dropdown-menu lang" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item cursor_pointer langitem" (click)="switchLanguage('ar')">العربية</a></li>
              <li><a class="dropdown-item cursor_pointer langitem" (click)="switchLanguage('en')">English</a></li>
            </ul>
          </div>
        <form [formGroup]="loginForm">
            <div class="row justify-content-center">
                <div class="m-5 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6 ">
                    <div class="login_card p-4 row">
                        <div class="title mt-4 col-12">
                            <h3>{{'log.wlcmBck' | translate}}</h3>
                        </div>
                        <div class="controls_container col-12">
                            <input type="text" name="id" formControlName="id" 
                            id="usrNm" class="mt-4 col-12" [placeholder]="'log.usrNm' | translate">
                            <i class="fa-solid fa-user icon_usrNm"></i>
                            <input type="password" name="password" formControlName="password"
                            id="usrPss" class="my-4 col-12" [placeholder]="'log.password' | translate">
                            <i class="fa-solid fa-key icon_pass"></i>
                            <a href="http://" target="_blank" rel="noopener noreferrer" class="">{{'log.forgetpsswrd' | translate}}</a>
                        </div>
                        <button class="w-25 me-3 " (click)="login()" type="button"  
                        [ngClass]="dirVal == 'rtl'?'me-auto':'ms-auto'"
                        [disabled]="this.loginForm.invalid">{{'log.login' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>