<div class="section"  [lang]="lang" [dir]="general.dirVal" [ngClass]="general.dirVal == 'rtl'?'rtl':''">
    <div class="container">
        <app-language-switch></app-language-switch>
        <form [formGroup]="loginForm">
            <div class="row justify-content-center">
                <div class="m-5 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6 ">
                    <div class="login_card p-4 row">
                        <div class="title mt-4 col-12">
                            <h3>{{'log.wlcmBck' | translate}}</h3>
                        </div>
                        <div class="controls_container col-12">
                            <input type="text" name="id" formControlName="id" (keyup)="getIDData($event)"
                            id="usrNm" class="mt-4 col-12" [placeholder]="'log.usrNm' | translate">
                            <i class="fa-solid fa-user icon_usrNm"></i>
                            <small *ngIf="loginForm.get('id')?.errors?.['pattern'] && loginForm.get('id')?.touched && loginForm.get('id')?.invalid" class="text-danger">
                                {{'log.idErr' | translate}}
                            </small>
                              
                            <input type="password" name="password" formControlName="password"
                            id="usrPss" class="my-4 col-12" [placeholder]="'log.password' | translate">
                            <i class="fa-solid fa-key icon_pass"></i>
                            <a [routerLink]="['/forgetpassword']" routerLinkActive="router-link-active"  rel="noopener noreferrer" class="">{{'log.forgetpsswrd' | translate}}</a>
                        </div>
                        <button class="w-25 me-3 " (click)="login()" type="button"  
                        [ngClass]="general.dirVal == 'rtl'?'me-auto':'ms-auto'"
                        [disabled]="this.loginForm.invalid">{{'log.login' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-toast #toastRef [message]="toastMessage" [bgColor]="toastBgColor"></app-toast>