.section{
    // background: url('../../../assets/login.png');
    background-color: #B8935E;
    height: 100%;
    min-height: 32rem;
    width: 100%;
    background-size: cover;
}
.text-rayahen{
    color: #B8935E;
}
.login_card{
    background-color: #ffffff4d;
    border-radius: 8px;
    color: white;
    justify-content: center;
    // display: grid;
    overflow: auto;
    top: 25%;
    position: relative;
    height: fit-content;
    h3{
        text-align: center;
        color: #5d4624;
    }
    // input{
    //     background: #8686865d;
    //     border: none;
    //     color: white;
    //     border-radius: 8px;
    //     height: 40px;
    //     padding: 0px 28px;
    // }
    // input:focus{
    //     outline: none !important;
    //     background-color: white;
    //     color: #5d4624;
    // }
    a{
        color: #5d4624;
    }
    button {
        color: black;
        background: #B8935E;
        border: none;
        border-radius: 8px;
        height: 40px;
    }
    button:disabled{
        background: grey;
    }
    .controls_container{
        position: relative;
    }
    .icon_usrNm{
        position: absolute;
        left: 20px;
        top: 36px;
        color: #5d4624;
    }
    .icon_pass{
        position: absolute;
        left: 20px;
        top: 100px;
        color: #5d4624;
    }
}

.rtl{
    .icon_usrNm,
    .icon_pass{
        left: auto !important;
        right: 20px !important;
    }
}
.lngDrp{
    color: #B8935E;
    .langitem{
        cursor: pointer;
    }

}
.btn.dropdown-toggle{
    color: white;
}
app-toast{
    z-index: 10000 !important;
    position: absolute !important;
    right: 25px !important;
    top: 95px !important;
    left: auto !important;
}

.showPass{
    position: absolute;
    right: 12px;
    top: 13px;
}
#rtl{
    .showPass{
    left: 12px;
    right: auto;
}
}