.section{
    background: url('../../../assets/login.png');
    height: 100%;
    min-height: 32rem;
    width: 100%;
    background-size: cover;
}
.login_card{
    background-color: #ffffff0f;
    border-radius: 8px;
    color: white;
    justify-content: center;
    display: grid;
    overflow: auto;
    top: 25%;
    position: relative;
    height: fit-content;
    h3{
        text-align: center;
        color: #fff;
    }
    input{
        background: #8686865d;
        border: none;
        color: #B8935E;
        border-radius: 8px;
        height: 40px;
        padding: 0px 28px;
    }
    input:focus{
        outline: none !important;
    }
    a{
        color: #B8935E;
    }
    button {
        color: black;
        background: #B8935E;
        border: none;
        border-radius: 8px;
        height: 40px;
    }
    button:disabled{
        background: grey;
    }
    .controls_container{
        position: relative;
    }
    .icon_usrNm{
        position: absolute;
        left: 20px;
        top: 36px;
        color: #50667d;
    }
    .icon_pass{
        position: absolute;
        left: 20px;
        top: 100px;
        color: #50667d;
    }
}

.rtl{
    .icon_usrNm,
    .icon_pass{
        left: auto !important;
        right: 20px !important;
    }
}
.lngDrp{
    color: #B8935E;
    .langitem{
        cursor: pointer;
    }

}
.btn.dropdown-toggle{
    color: #B8935E;
}